registry=https://registry.npmjs.org/
shamefully-hoist=true
auto-install-peers=true
package-manager-strict-policies=false
strict-package-manager-policies=false
minimum-release-age=0
onlyBuiltDependencies=esbuild core-js
overrides.vue=3.5.35
overrides.@vue/shared=3.5.35
overrides.@vue/compiler-core=3.5.35
overrides.@vue/compiler-dom=3.5.35
overrides.@vue/compiler-ssr=3.5.35
overrides.@vue/reactivity=3.5.35
overrides.@vue/runtime-core=3.5.35
overrides.@vue/runtime-dom=3.5.35
overrides.@vue/server-renderer=3.5.35
