<nav class="nav-menu">
    <ul>
        <li><a href="/">首页</a></li>
        <li><a href="/users">用户管理</a></li>
        <li><a href="/roles">角色管理</a></li>
        <li><a href="/menus">菜单管理</a></li>
        <li><a href="/orgs">机构管理</a></li>
        <li><a href="/posts">岗位管理</a></li>
        <li><a href="/dicts">字典管理</a></li>
        <li><a href="/configs">参数配置</a></li>
        <li><a href="/logs">操作日志</a></li>
    </ul>
</nav>
